
* {
	font-family: 'Noto Sans KR', sans-serif;
	list-style: none;
	text-decoration: none;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
}
.button{
	background-color: transparent;
    cursor: pointer;
    outline: none;
}
}
input[id="icon"] {
	display: none;
}

body {
	height: 500px;
}

input[id="icon"]+label {
	position: fixed;
	margin-top: 40px;
	display: block;
	width: 50px;
	height: 30px;
	margin-left: -100px;
	transition: all 0.35s;
	cursor: pointer; /* 커서를 올려놓을 때 모양이 바뀐다. */
	z-index: 2;
}

input[id="icon"]+label>span {
	position: absolute;
	display: block;
	width: 100%;
	height: 3px;
	border: 1px solid black;
	border-radius: 30px ;
	background: rgb(249, 247, 232);
	transition: all 0.35s; /* 진행되는 과정들을 천천히 보여줄 수 있다. 0.35초 동안 진행됨 */
	z-index: 2;
}

input[id="icon"]+label>span:nth-child(1) {
	top: 0px;
}

input[id="icon"]+label>span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
	/* 엘리먼트를 변형할 때 쓴다. 비틀거나 구부리거나 돌릴 때 . 여러가지로 모양을 바꿀 때 */
}

input[id="icon"]+label>span:nth-child(3) {
	bottom: 0px;
}

input[id="icon"]:checked+label>span:nth-child(1) {
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}

input[id="icon"]:checked+label>span:nth-child(2) {
	opacity: 0;
}

input[id="icon"]:checked+label>span:nth-child(3) {
	bottom: 50%;
	transform: translateY(50%) rotate(-45deg);
}

#icon+label+#header {
	position: fixed; /* 스크롤을 내리더라도 같은 위치에서 붙어다닌다. */
	width: 300px;
	height: 100%;
	background: rgba(51, 51, 51, 0.219);
	top: 0px;
	padding: 60px 25px 25px 25px;
	box-sizing: border-box;
	left: -300px;
	z-index: 1;
	transition: all 0.35s;
}

#icon:checked+label+#header {
	left: 0px;
}

#icon:checked+label+#header>ul>li>a {
	color: white;
}

.intro_bg {
	background-color:#FBE0C4;
}

.header1 {
	display: flex;
	width: 1280px;
	/* margin: auto; */
	margin-left: 500px;
	height: 150px;
}
.nav {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	line-height: 86px;
	width: calc(1280px - 300px);
	color: #fff;
	margin-right: 400px;
}

.nav>a {
	margin-left: 10px;
	color: #fff;
	font-weight: bold;
	position: relative;
	padding: 0px 10px;
	letter-spacing: 0.5px;
}

.nav a::after {
	content: "";
	position: absolute;
	transform: translateX(-15%);
	width: 0;
	left: 10px;
	bottom: 20px;
	height: 0;
	transition: all .3s ease;
}

.nav a:hover:after {
	width: 100%;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.slide {
	width: 80%;
	height: 300%;
	overflow: hidden;
	margin-left: 150px;
	margin: auto;
	text-align: center;
}
body {
	background: #fff;
	height: 400px;
	width: 100%;
}

.gnb_meun {
	position: relative;
	background-color: #ffffff;
	box-shadow: 5px 5px 10px rgba(1, 1, 1, 0.5);
	border-radius: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100px;
	width: 70vw;
	min-width: 600px;
	margin: auto;
	top: -66px;
}
.gnd_meun_list a {
	font-size: 18px;
	font-weight: bold;
	color: #000;
	text-decoration: inherit;
	position: relative;
	letter-spacing: 0.5px;
	padding: 0px 10px;
}
.gnd_meun_list a::after {
	content: "";
	position: absolute;
	transform: translateX(-15%);
	width: 0;
	left: 10px;
	bottom: 20px;
	height: 3px;
	background-color: green;
	transition: all .3s ease;
}
.gnb_meun a:hover:after {
	width: 100%
}
.gnb_meun ul{
	background-color: #ffffff;
}
.gnb_meun {
    text-align:center;
}


.gnb_meun > ul {
    padding:0 10px;
    display:inline-block;
    border-radius:5px;
}

.gnb_meun li > a {
    display:block;
    white-space:nowrap;
    padding:10px;
    height: 50px;
	width: 100px;
}

.gnb_meun > ul > li {
    float:left;
    position:relative;
}

.gnb_meun > ul::after {
    content:"";
    display:block;
    clear:both;
}

.gnb_meun > ul > li > div {
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    max-height:0;
    overflow:hidden;
    transition:max-height 1s;
}

.gnb_meun > ul > li > div > ul {
    transform:translateY(-100%);
    transition: transform 1s;
}

.gnb_meun > ul > li:hover > div {
    max-height:350px;
}

.gnb_meun > ul > li:hover > div > ul {
    transform:translateY(0);
}

.gnb_meun > ul > li.gnd_meun_list > div, 
.gnb_meun > ul > li.gnd_meun_list > div > ul {
    transition-duration:0.25s;
}

.border_list {
	box-sizing: border-box;
	/* border: 2px solid red; */
	width: 70%;
	height: 500px;
	margin: auto;
	margin-top: 150px;
	box-shadow: 10px 10px 10px rgba(1, 1, 1, 3);	
}
.left {
	width: 50%;
	height:100%;
	float: left;
	box-sizing: border-box;
	/* background: #ff0; */
}

.right {
	width: 50%;
	height:100%;
	float: right;
	box-sizing: border-box;
	/* background: #0ff; */
}
.right_text{
	height: 55%;
	/* background: purple;	 */
	
}
 /* 검색 버튼 */
.btnbtn {
  background-color: white; /* Green */
  
  color: black;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position : absolute;
  top : 17px;
  left : 580px;
  border: 2px solid #e7e7e7;
}
.bestweek{
    position : absolute;
    top : 1030px;
    left : 280px;
}
.boardclick{
 position : absolute; 
 top : 1050px;
 right : 295px;
}
.topheader{
    height: 80px;
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: #FBE0C4;
    border-bottom: 1px solid;
}
.listpage{
	margin-right: 100px;
	display: flex;
	text-align: center;
	width: 1300px;
	margin-top:50px;
	justify-content: center;
	flex-wrap: wrap;
	margin-right: 100px; 
}
.listbox{
    border: 2px solid black;
    flex: inherit;
    float: left;
    width: 200px;
    height: 300px;
    margin-top: 50px; 
    margin-left: 10px;
    border-radius: 5px;
    
}
.listpoto{
	height: 80%;
}
.listlist{
	margin-top: 10px;
	float: left;
	font-size: 1.8rem;
}
.tagbox{
	border: 10px solid red;
	width: 100%;
	height: 200px;
}
.search2{
	float: right;
}
.search>form>input {
	border: none;
	width: 250px;
	height: 40px;
	color: #000040;
	padding-left: 10px;
}
 
.search>form>span {
	width: 300px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
.chats{
	width: 110px;
	margin-left: 50px;
    display: flex;
    -webkit-box-align: center;
    align-items: center; 
    position: relative;
    outline: 0;
    border:0;
    background: #FBE0C4;
}
.chats::after{
	content: "";
    width: 1px;
    height: 50px;
    border-right: 1px solid rgb(204, 204, 204);
    position: absolute;
    right: -15px;
}
.shop{
	width: 110px;
	margin-left: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}
.shop::after{
	content: "";
    width: 1px;
    height: 50px;
    border-right: 1px solid rgb(204, 204, 204);
    position: absolute;
    right: -15px;
}
.products{
	width: 150px;
    display: flex;
    -webkit-box-align: center;
    position: relative;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    margin-left: 20px;
    align-items: center;
}
.links{
	width: 150px;
	margin-left:20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}
.searchs{
	width: 100px;
	width: 800px;
	height: 80px;
	background: #fffffff;
	margin-top: 20px;
	
}
.searchr{
	font-size: 16px;
	padding: 10px;
	border: 0px;
	outline: none;
	width: 78.7%;
    height: 80%;
	
}
.input{
	width: 10%;
	height: 80%;
	border: 0px;
	background: #1b5ac2;
	outline: none;
	float:right;
	color:#ffffff;	
}
.container{
	padding: 30px;
}
.list{
	padding: 10px;
    width: 100%;
    margin-left: -35px;
    border-radius: 8px;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.product{
	justify-content: center;
    display: flex;
    width: 70%;
    height: 700px;
    border: 2px solid;
    margin-left: 200px;
    margin-top: 20px;
}
.product_list{
    width: 55%;
    margin-right: -540px;
    margin-left: 10px;
    margin-top: 30px;

}
.productlist{
	height: 400px;
    width: 40%;
    margin-top: 150px;
    margin-left: -490px;
}

.slide {
	width: 100%;
    height: 100%;
    overflow: hidden;
	text-align: center;
}

.slide ul {
	width: calc(100% * 5);
	height:500px;
	display: flex;
	animation: slide 30s infinite;
} /* slide를 8초동안 진행하며 무한반복 함 */
.slide li {
	flex: 1;
    width: calc(100%/ 5);
    background-size: cover;
}
.slide li a img{
	 width: 400px;
}
@keyframes slide {
      0% {margin-left:0;} /* 0 ~ 10  : 정지 */
      10% {margin-left:0;} /* 10 ~ 25 : 변이 */
      25% {margin-left:-100%;} /* 25 ~ 35 : 정지 */
      35% {margin-left:-100%;} /* 35 ~ 50 : 변이 */
      50% {margin-left:-200%;}
      60% {margin-left:-200%;}
      75% {margin-left:-300%;}
      85% {margin-left:-300%;}
      100% {margin-left:0;}
}
.productname{
	font-size: 3rem;
}
.productprice{
	font-size: 4rem;
}
.productview{
	margin-top: 10px;
    margin-left: 10px;
}
.productlike{
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(204, 204, 204);
    font-size: 16px;
    float: left
}
.productlike::after{
    content: "";
    width: 1px;
    height: 12px;
    border-right: 1px solid rgb(238, 238, 238);
    margin-left: 10px;
    margin-right: 10px;}

.productcount{
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(204, 204, 204);
    font-size: 16px;
    float: left
}
.productcount::after{
    content: "";
    width: 1px;
    height: 12px;
    border-right: 1px solid rgb(238, 238, 238);
    margin-left: 10px;
    margin-right: 10px;
  }
.productreg{
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(204, 204, 204);
    font-size: 16px;
    float: left
}
.productreg::after{
	content: "";
    width: 1px;
    height: 12px;
    border-right: 1px solid rgb(238, 238, 238);
    margin-left: 10px;
    margin-right: 10px;
}
.reput{
	 color: rgb(204, 204, 204);
    font-size: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.pcontent{
	font-size: 2rem;
    margin-top: 20px;
    width: 100%;
    height: 400px;
}
.productbutton{
	margin-top: -30px;
}
.btnlike{
    width: 25%;
    height: 70px;
    font-weight: 600;
    background: rgb(204, 204, 204);
    color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 1;
    margin-left: 80px;
    margin-right: 5px;
    float: left;

}
.coll{
    width: 25%;
    height: 70px;
	background: rgb(255, 164, 37);
    border: 1px solid rgb(243, 150, 20);
    color: rgb(255, 255, 255);
}
.nowsell{
    width: 25%;
    height: 70px;
    background: rgb(247, 0, 0);
    border: 1px solid rgb(223, 0, 0);
    color: rgb(255, 255, 255);
   }
.reply{
	width: 70%;
    margin-left: 200px;
	
}