.first{
    border: solid 1px red;
    height: 105%;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.report_header{
    border: solid 1px violet;
    padding-top: 10px;
    width: 100%;
    height: 35px;
    text-align: center;
    font-size: large;
    margin-bottom: 10px;
}
.sec{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 500px;
    border: solid 1px green;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}
.product_info{
    width: 570px;
    height: 300px;
    border: solid 1px blue;
    margin-top: 15px;
    margin-left: 13px;
    margin-right: 13px;
    display: flex;
    justify-content: space-between;
}
.textBoxArea{
    width: 100%;
}
.textBox{
    margin-top: 15px;
    margin-left: 4%;
    margin-right: 4%;
    width: 90%;
    height: 6.25em;
    border: solid 1px black;
    resize: none;
}
.submit_btn{
    height: 45px;
    margin-top: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    left: auto;
}
.thumbnail{
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    width: 260px;
    height: 260px;
}

.thumbnail img{  
    height: 250px;
    width: 250px;
}
.criminal_Product{
    display: flex;
    width: 100%;
    height: 260px;
}
.criminal_info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}
.criminal_info a{
    display: block;
    width: 80%;
    margin-left: 5%;
    height: 30px;
}
.criminal_info div{
    display: block;
    width: 100%;
    height: 70px;
    margin-top: 3%;
}
.criminal_info input[type=text] { 
    border: none;
    width: 80%;
    margin-left: 5%;
    height: 20px;
}
form input[type=submit] {
    width: 100px;
}